<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>落とし物捜索システム</title>
</head>
<body>
  <h1>落とし物捜索システム</h1>
  <p>システム作るよ〜ん</p>
  
  {% if request.session.nickname %}
    <p>おかえりなさい、{{ request.session.nickname }} さん</p>
    <ul>
      <li><a href="{% url 'map' %}">マップ検索</a></li>
      <li><a href="{% url 'lostitem_register' %}">落とし物登録</a></li>
      <li><a href="{% url 'chat_room_list' %}">チャット</a></li>
      <li><a href="{% url 'logout' %}">ログアウト</a></li>
    </ul>
  {% else %}
    <p>ようこそ、guest さん</p>
    <ul>
      <li><a href="{% url 'map' %}">マップ検索</a></li>
      <li><a href="{% url 'lostitem_register' %}">落とし物登録</a></li>
      <li><a href="{% url 'login' %}">ログイン/ユーザー登録</a></li>
    </ul>
  {% endif %}

</body>
</html>
