{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    
    <title>落とし物捜索画面</title>
</head>
<body>
    <div class="container">
        <h1>落とし物捜索画面</h1>
        <div class="button-container">
            <a class="button register-button" href="{% url 'map_view' %}">
                マップ検索 <img src="#" alt="マップロゴ">
            </a>
            <a class="button search-button" href="#">
                落とし物登録 <img src="#" alt="登録ロゴ">
            </a>
        </div>
    </div>
</body>
</html>